### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

### Ambientes Virtuais (Crucial) ###
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### Python (Compilados e Builds) ###
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
.installed.cfg
*.egg

### IDEs (VS Code e PyCharm) ###
.vscode/
.idea/

### Windows (Sujeira do Sistema) ###
Thumbs.db
desktop.ini
$RECYCLE.BIN/
*.lnk

### Testes e Cobertura ###
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
.pytest_cache/
